<%= simple_form_for(@order_status) do |f| %>

    <%= f.error_notification %>

    <table>
      <tr>
        <th>Product Name</th>
        <th>Ordered?</th>


      </tr>
      <% @order_lines.each do |order_line| %>
          <tr>
            <td><%= order_line.product_name %></td>
            <td><input type="checkbox"></td>
          </tr>
      <% end %>
    </table>


    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
