
<h1>Listing order Statuses</h1>
<%= link_to 'New order status', order_lines_order_me_path %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Item</th>
      <th>Ordered date</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_lines.each do |order_line| %>
      <tr>
        <td><%= order_line.product_name %></td>
        <td><%= order_line.purchase_order_date %></td>
           <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New order status', order_lines_order_me_path %>
